.wrapper-header {
  margin-top: 25px;
  .primary-menu {
    .menu {
      padding: 0;
      margin: 0;
      .menu-item {
        list-style: none;
        display: inline-block;
        padding-right: 18px;
        a {
          text-decoration: none;
          letter-spacing: 0;
          line-height: 50px;
          text-transform: uppercase;
          color: map-get($color, black_1);
          font-weight: 700;
        }
        i {
          margin-left: 8px;
        }
      }
    }
  }
  .logo {
    display: block;
    text-align: center;
  }
  .card {
    .navbar {
      padding: 0;
      margin: 0;
      .navbar-item {
        list-style: none;
        display: inline-block;
        padding-left: 44px;
        a {
          text-decoration: none;
          letter-spacing: 0;
          line-height: 50px;
          text-transform: uppercase;
          color: map-get($color, black_1);
          font-weight: 700;
        }
        .item-card {
          padding: 2px 8px;
          background: map-get($color, red);
          color: map-get($color, white);
          font-size: 12px;
          border-radius: 50%;
          margin-left: 5px;
        }
      }
    }
  }
}
.slide {
  margin: 25px 0 70px;
  img {
    width: 1124px;
  }
}
