%sub-menu {
  position: absolute;
  display: none;
  width: 160px;
  height: 250px;
  background-color: map-get($color, white);
  padding: 8px 14px;
  top: 76px;
  list-style: none;
  line-height: 1.5;
}
%label-p {
  color: map-get($color, white);
  text-transform: uppercase;
  line-height: 30px;
  font-size: 12px;
  position: absolute;
  left: 25px;
  width: 51px;
  height: 29px;
  padding-left: 18px;
}
