%sub-menu {
  position: absolute;
  display: none;
  width: 160px;
  height: 250px;
  background-color: map-get($color, white);
  padding: 8px 14px;
  top: 76px;
  list-style: none;
  line-height: 1.5;
}
